@font-face {
  font-family: Inter;
  src: url("../font/Inter-VariableFont_opsz,wght.ttf");
}

[data-bs-theme=light] {
  body {
    background-color: #f2f2f5;
  }
  .theme-icon {
    background-image: url("../img/moon-black.svg");
  }
  .card-header-icon:hover {
    background-color: #ebebeb;
  }
  .github-icon {
    background-image: url("../img/github-logo-black.svg");
  }
  .discord-icon {
    background-image: url("../img/discord-logo-colourful.svg");
  }
  .aur-icon {
    background-image: url("../img/archlinux-logo-colourful.svg");
  }
  .jenkins-icon {
    background-image: url("../img/jenkins-logo-ukraine.svg");
  }
  .repo-icon {
    background-image: url("../img/download-cloud-black.svg");
  }
  .url-icon {
    background-image: url("../img/globe-black.svg");
  }
}

[data-bs-theme=dark] {
  body {
    background-color: #111115;
  }
  .theme-icon {
    background-image: url("../img/sun-white.svg");
  }
  .card-header-icon:hover {
    background-color: #646464;
  }
  .github-icon {
    background-image: url("../img/github-logo-white.svg");
  }
  .discord-icon {
    background-image: url("../img/discord-logo-white.svg");
  }
  .aur-icon {
    background-image: url("../img/archlinux-logo-white.svg");
  }
  .jenkins-icon {
    background-image: url("../img/jenkins-logo-monochrome.svg");
  }
  .repo-icon {
    background-image: url("../img/download-cloud-white.svg");
  }
  .url-icon {
    background-image: url("../img/globe-white.svg");
  }
}

.theme-icon {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.icon-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page-header-icon {
  width: 3rem;
  height: 3rem;
}

.link-icon {
  width: 32px;
  height: 32px;
  margin-top: 0.15rem;
}

.link-column {
  min-width: 12rem;
}

.card-header-icon {
  width: 24px;
  height: 24px;
  border-width: 0;
  margin-top: -4px;
  margin-left: 20px;
  margin-right: -7px;
  display: block;
}
