<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="KarlofDuty.com - Game servers and mods" property="og:title">
    <meta content="I create server software and game mods and also host my own servers for a number of games." property="og:description">
    <meta content="img/title.png" name="twitter:card">
    <meta content="#0050ff" name="theme-color">
    <title>KarlofDuty's Game servers & mods</title>
    <link rel="stylesheet" href="~/lib/dashbrd/css/libs.bundle.css"/>
    <link rel="stylesheet" href="~/lib/dashbrd/css/theme.bundle.css"/>
    @await RenderSectionAsync("CSS", required: false)
</head>
<body class="pt-5">

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted py-4 mt-auto">
    <div class="container text-center">
        &copy; 2026 - KarlofDuty - Website built with <a href="https://github.com/simzikov/dashbrd">Dashbrd</a>
    </div>
</footer>

<script src="~/lib/dashbrd/js/vendor.bundle.js"></script>
<script src="~/lib/dashbrd/js/theme.bundle.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>