<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>KarlofDuty.com</title>
    <link rel="icon" type="image/icon" href="~/img/favicon.ico" />
    <meta content="KarlofDuty.com - Game servers and mods" property="og:title">
    <meta content="I create server software and game mods and also host my own servers for a number of games." property="og:description">
    <meta content="img/title.png" name="twitter:card"> <!-- TODO: Change this image -->
    <meta content="#0050ff" name="theme-color">

    <!-- Google fonts, icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" />

    <!-- Dashbrd -->
    <link rel="stylesheet" href="~/lib/dashbrd/css/libs.bundle.css"/>
    <link rel="stylesheet" href="~/lib/dashbrd/css/theme.bundle.css"/>

    <link rel="stylesheet" href="~/css/general.css"/>

    @await RenderSectionAsync("CSS", required: false)
</head>
<body class="pt-7">

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted py-4 mt-auto">
    <div class="container text-center small">
        &copy; 2026 - Karl Essinger - Bootstrap theme: <a href="https://github.com/simzikov/dashbrd">Dashbrd</a>
    </div>
</footer>

<script src="~/lib/dashbrd/js/vendor.bundle.js"></script>
<script src="~/lib/dashbrd/js/theme.bundle.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>