@font-face {
  font-family: Inter;
  src: url("../font/Inter-VariableFont_opsz,wght.ttf");
}

body {
  background-color: #f2f2f6;
}

.page-header-icon {
  width: 3rem;
  height: 3rem;
}

.link-icon {
  width: 32px;
  height: 32px;
  margin-top: 0.15rem;
}

.link-column {
  min-width: 12rem;
}