@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="row mb-4">
  <div class="col-12">
    <div class="card shadow-sm">
      <div class="card-body d-flex align-items-center">
        <img src="img/tardisIcon.jpg" alt="Tardis avatar" class="page-header-icon rounded-circle me-3">
        <div class="flex-grow-1">
          <h5 class="card-title mb-0 fw-bold">KarlofDuty</h5>
          <p class="text-muted small mb-0">Software Engineer & Server Administrator</p>
        </div>
        <button id="theme-toggle" class="theme-icon float-end icon-bg" title="Toggle theme">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3">
        <h5 class="card-title mb-0 fw-bold">About</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          I am a software developer making Discord bots, server tools and game mods.
          All of my work is available for free and open source on GitHub.
        </p>
        <p class="card-text">
          Most of my projects can be installed from my RPM repo, DEB repo, the AUR, and manual download on each respective Github project.
          Tell me if you want one of my other projects added there too.
        </p>
        <p class="card-text">
          I also host some game servers which you can find in the Discord server to the left.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3">
        <h5 class="card-title mb-0 fw-bold">Links</h5>
      </div>
      <div class="card-body p-0">
        <div class="row p-0 m-0">
          <div class="col-xxl-4 col-lg-6 col-md-12 p-0 link-column list-group list-group-flush">
            <a href="https://github.com/KarlOfDuty" target="_blank" class="list-group-item list-group-item-action pe-0 ps-2 d-flex align-items-start">
              <div class="github-icon icon-bg link-icon ms-3 me-3"></div>
              <div class="flex-fill">
                <p class="mb-0 small fw-bold text-reset">GitHub</p>
                <p class="mb-0 small text-muted">@@KarlOfDuty</p>
              </div>
            </a>
          </div>
          <div class="col-xxl-4 col-lg-6 col-md-12 p-0 link-column list-group list-group-flush">
            <a href="https://discord.gg/C5qMvkj" target="_blank" class="list-group-item list-group-item-action pe-0 ps-2 d-flex align-items-start">
              <div class="discord-icon icon-bg link-icon ms-3 me-3"></div>
              <div class="flex-fill">
                <p class="mb-0 small fw-bold text-reset">Discord</p>
                <p class="mb-0 small text-muted">Join the Discord server</p>
              </div>
            </a>
          </div>
          <div class="col-xxl-4 col-lg-6 col-md-12 p-0 link-column list-group list-group-flush">
            <a href="https://aur.archlinux.org/packages?SeB=m&K=KarlofDuty" target="_blank" class="list-group-item list-group-item-action pe-0 ps-2 d-flex align-items-start">
              <div class="aur-icon icon-bg link-icon ms-3 me-3"></div>
              <div class="flex-fill">
                <p class="mb-0 small fw-bold text-reset">Arch User Repository</p>
                <p class="mb-0 small text-muted">AUR Packages</p>
              </div>
            </a>
          </div>
          <div class="col-xxl-4 col-lg-6 col-md-12 p-0 link-column list-group list-group-flush">
            <a href="https://jenkins.karlofduty.com" target="_blank" class="list-group-item list-group-item-action pe-0 ps-2 d-flex align-items-start">
              <div class="jenkins-icon icon-bg link-icon ms-3 me-3"></div>
              <div class="flex-fill">
                <p class="mb-0 small fw-bold text-reset">Jenkins</p>
                <p class="mb-0 small text-muted">Build Server</p>
              </div>
            </a>
          </div>
          <div class="col-xxl-4 col-lg-6 col-md-12 p-0 link-column list-group list-group-flush">
            <a href="https://repo.karlofduty.com" target="_blank" class="list-group-item list-group-item-action pe-0 ps-2 d-flex align-items-start">
              <div class="repo-icon icon-bg link-icon ms-3 me-3"></div>
              <div class="flex-fill">
                <p class="mb-0 small fw-bold text-reset">Repo Server</p>
                <p class="mb-0 small text-muted">RPM and DEB Package Repos</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="mb-3 mt-5">Projects</h3>
<div class="row">
  <!-- Bot / Small Plugin Cards -->
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3 pt-4 d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold">SCPDiscord</h5>
        <a class="card-header-icon github-icon icon-bg p-0 rounded-circle float-end" href="https://github.com/KarlofDuty/SCPDiscord" target="_blank"></a>
      </div>
      <div class="card-body pt-4">
        <p class="card-text">A LabAPI plugin which adds remote interaction to an SCP:SL server through Discord.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3 pt-4 d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold">SupportBoi</h5>
        <a class="card-header-icon github-icon icon-bg p-0 rounded-circle float-end" href="https://github.com/KarlofDuty/SupportBoi" target="_blank"></a>
      </div>
      <div class="card-body pt-4">
        <p class="card-text">A support ticket Discord bot designed to manage user inquiries efficiently.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3 pt-4 d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold">RoleBoi</h5>
        <a class="card-header-icon github-icon icon-bg p-0 rounded-circle float-end" href="https://github.com/KarlofDuty/RoleBoi" target="_blank"></a>
      </div>
      <div class="card-body pt-4">
        <p class="card-text">A small role management Discord bot for automated role assignments.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3 pt-4 d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold">EarthMC</h5>
        <span>
          <a class="card-header-icon github-icon icon-bg p-0 rounded-circle float-end" href="https://github.com/EarthMC" target="_blank"></a>
          <a class="card-header-icon url-icon icon-bg p-0 rounded-circle float-end" href="https://earthmc.net" target="_blank"></a>
        </span>
      </div>
      <div class="card-body pt-4">
        <span class="card-text">
          <p>
            Back in 2016 a friend of mine came to me with a pretty cool idea for a Minecraft server he wanted to work on together.
            An earth map with claimable land using Towny, and an economy based on normal Minecraft gold.
            We also felt that everything should be a vanilla as possible, no custom items or blocks modded in for example.
          </p>
          <p>
            There were many servers using Factions for territory claiming rather than Towny.
            Factions was too focused on PvP and taking others' territory so we went for the more peaceful Towny.
          </p>
          <p>
            Towny lets players build together with others within their own Towns without fear of losing anything.
            However, outside of the towns anyone can build or destroy freely, and kill other players for their stuff if they aren't careful.
          </p>
          <p>
            This led to a very enjoyable mix of creativity and PvP that most creative/PvP servers back then didn't have.
            Especially because the server doesn't have any pay-to-win mechanics, which is a plague that almost all Minecraft servers were and are infected by.
          </p>
          <p>
            After a few months of basically only me playing regularly, the server had a surge of activity leading to always having around 30 players concurrently.
            About a year later this had grown to around 150 players (and almost as many in the queue to get into the server) which was the maximum the server software could handle at the time.
          </p>
          <p>
            This made us one of the most popular servers in the world, which was pretty fun. It did however become too time consuming to keep up with while studying/working so I left it a few years ago.
          </p>
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-header pb-3 pt-4 d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold">ServerMod (Smod2)</h5>
        <a class="card-header-icon github-icon icon-bg p-0 rounded-circle float-end" href="https://github.com/ServerMod" target="_blank"></a>
      </div>
      <div class="card-body pt-4">
        <span class="card-text">
          <p>
            When I first set up my SCP:SL servers there were no Discord plugins, so I joined the only modding community for the game at the time, Smod2.
            I created SCPDiscord which became the most used SCP:SL plugin back when there was still a way to measure that.
          </p>
          <p>
            SCP:SL then had a long period without updates where it looked like the game may become abandoned by its developers.
          </p>
          <p>
            This caused much of the existing Smod modding community to dwindle so when the game started getting updates again there were almost no Smod maintainers left.
          </p>
          <p>
            The game developers had started working on an official modding API to replace Smod which was supposed to be released shortly after the new game update.
          </p>
          <p>
            When this didn't happen for a few months I started porting the old modding API to the overhauled game version and I maintained it for about a year until the official API was released.
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
